/*Contenu de index.html*/
main {
    margin: 0 20% 0px 20%;
}

.presentation {
    font-size: 50px;
    color: #e5e5e5;
}

.couleur_texte2 {
    margin-top: -55px;
    color: #1bd79e;
    font-size: 50px;
}

.intro {
    color: #808080;
    padding-right: 39%;
    font-size: 13px;
    font-family: Montserrat;
}

.bouton_nav {
    display: flex;
    justify-content: center;
}
.lien_actif {
    background-color: #1bd79e;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 13px;
    font-family: Montserrat;
}

.lien_inactif {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 13px;
    font-family: Montserrat;
}

/*photos*/
.photo {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}
.photo_ind {
    margin: 5px;
}
.photo_cache {
    margin: 5px;
}