/*En-tête de index.html*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-bottom-width: 1px;
    color: #808080;
}
.en-tete {
    display: flex;
    flex-direction: row;
}

h1 {
    font-size: medium;
    font-weight: normal;
    color: #e5e5e5;
}

.icone-espacement {
    margin: 0 5px 0 5px;
}
