/*Parametrage par default de index.html*/
* {
    background-color: #041821;
    font-family: Yeseva One;
}

.couleur_texte {
    color: #1bd79e;
}

a {
    color: #e5e5e5;
}

.hr {
    color: #808080;
}