* {
    background-color: #041821;
    font-family: Yeseva One;
}

.couleur_texte {
    color: #1bd79e;
}

a {
    color: #e5e5e5;
}

/*responsive tablette et tel*/
@media screen and (max-width: 1024px) {

}
/*responsive tel*/
@media screen and (max-width: 767) {
    header {
        display: flex;
        flex-direction: row;
    }
}