/*Fichier de style servant à la mise en place de la capacité responsive de index.html*/
/*ecran autres*/
@media screen and (min-width: 1815px) {
    main {
        margin: 0 25% 0 25%;
    }
}
/*responsive tablette*/
@media screen and (max-width: 1024px) {
    main {
        margin: 0 50px 0 50px;
    }
    h1 {
        font-size: 30px;
    }
    .presentation {
        padding-right: 27%;
    }
    .intro_vert {
        display: none;
    }
    .icone-espacement {
        margin: 0 10px 0 10px;
    }
    .intro {
        padding-right: 15%;
        font-size: 20px;
    }
    .lien_actif {
        font-size: 20px;
    }
    .lien_inactif {
        font-size: 20px;
    }
    .bouton_nav {
        margin: 40px 0 40px 0;
    }
    .photo_ind {
        width: 120px;
    }
    .photo_cache {
        width: 120px;
        margin: 5px;
    }
}
/*responsive tel*/
@media screen and (max-width: 500px) {
    h1 {
        font-size: 30px;
    }
    header {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    main {
        margin: 0 5px 0 5px;
    }
    .icone_header {
        margin: -5px 0 30px 0;
    }
    .presentation {
        font-size: 35px;
        padding-right: 20%;
    }
    .bouton_nav {
        margin-top: 30px;
    }

    .couleur_texte2 {
        font-size: 35px;
    }
    .intro {
        padding-right: 0%;
        font-size: 25px;
    }
    .lien_actif {
        font-size: 15px;
        margin: 3px;
    }
    .lien_inactif {
        font-size: 15px;
        margin: 3px;
    }
    .photo {
        margin: 30px 0 30px 0;
        display: flex;
        justify-content: center;
    }
    .photo_ind {
        width: 120px;
    }
    .photo_cache {
        display: none;
    }
}
