/*responsive tablette et tel*/
@media screen and (max-width: 1024px) {
    main {
        margin: 0 50px 0 50px;
    }
    h1 {
        font-size: 30px;
    }
    .presentation {
        padding-right: 27%;
    }
    .intro_vert {
        display: none;
    }
    .icone-espacement {
        margin: 0 10px 0 10px;
    }
    .intro {
        padding-right: 30%;
        font-size: 15px;
    }
    .photo_ind {
        width: 160px;
    }
}
/*responsive tel*/
@media screen and (max-width: 767px) {
    h1 {
        font-size: 30px;
    }
    header {
        display: flex;
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    main {
        margin: 0 5px 0 5px;
    }
    .icone_header {
        margin: -5px 0 30px 0;
    }
    .presentation {
        font-size: 35px;
        padding-right: 10%;
    }
    .couleur_texte2 {
        font-size: 35px;
    }
    .intro {
        padding-right: 0%;
        font-size: 15px;
    }
    .lien_actif {
        font-size: 12px;
        margin: 3px;
    }
    .lien_inactif {
        font-size: 12px;
        margin: 3px;
    }
    .photo {
        margin: 0px;
    }
    .photo_ind {
        width: 100px;
    }
}
